body {
    background-color: #FBFBFB;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

img {
    width: 50%;
    min-width: 300px;
    max-width: 450px;
    opacity: 0.75;
    padding-top: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #00AB91;

}

a:hover {

    font-weight: bold;
    background-color: #00AB91;
    color: white;
    opacity: 0.7;
}

#joke {
    background-color: #DEFBF8;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    font-size: 30px;

}

#introduction {
    background-color: white;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    font-size: 30px;

}

nav {
     background-color: #EFF6F7;
     padding-top: 12px;
     padding-bottom: 12px;
     font-family: 'Raleway', sans-serif;
     opacity: 0.5;

}

h1 {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 50px;
    text-transform: uppercase;
    color: #00DEC6;

}

h2 {
    font-family: 'Grandstander', cursive;
    font-size: 35px;
    text-transform: uppercase;

}
